button.btn.btn-tag{
	background:#503078;
	color:#FFFFFF;
	margin-left:2%;
	margin-rigt:2%;
}

h3{
	display:flex;
	justify-content:center;
	align-items:center;
}

.row{
	display:flex;
	align-items:center;
}