button.btn.btn-tag{
	background:#503078;
	color:#FFFFFF;
	margin-left:2%;
	margin-rigt:2%;
}

.event-title{
	font-size: 30px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 1px 1px black;
}

.event-place-or-date{
	font-size: 15px;
	text-align:justify;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 1px 1px black;
}

.event-img{
	max-height:5%;
	max-width:100%;
	margin-left:2%;
	margin-right:2%;
	display:flex;
	align-items:center;
}

.event-description{
	margin-left: 5%;
	margin-right: 5%;
}

.event-sponsor-or-cost{
	display: flex;
	font-size: 13px;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 1px 1px black;
	margin-left: auto;
	margin-right: auto;
}

.event-tag{
	text-align: center;
	text-transform: uppercase;
}

.event-eligibility{
  -ms-transform: translate(-20%,0%) rotate(-45deg);
  -webkit-transform: translate(-20%,0%) rotate(-45deg);
  transform: translate(-20%,0%) rotate(-45deg);
  z-index: 1;
  height: 30px;
  width: 100px;
  position: absolute;
}

.event-card {
  color: #666666;
  background-color: #ffffff;
  border-style: solid;
  margin-bottom: 30px;
  z-index:0;
}

.row{
	display:flex;
	align-items:center;
}