<div *ngIf="event">
	<div class="row">
		<div class="col-md-1"></div>
		<div class="col-md-10">
			<div class="event-card">
				<div class="row"><!--ELIGIBILITE -->
					<div [ngSwitch]="event.eligibility">
						<div *ngSwitchCase="'b'">
							<div class="event-eligibility" style="background: #2B90F5">CE Bleu</div>
						</div>
						<div *ngSwitchCase="'o'">
							<div class="event-eligibility" style="background: #E28356">CE Orange</div>
						</div>
						<div *ngSwitchCase="'bo'">
							<div class="event-eligibility" style="background: #503078">Tous CE</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-md-8">
			      	<div class="event-title">{{event.title}}</div>
			    </div>
			    <div class="col-md-2">
			      	<div class="event-place-or-date">{{event.place}}</div>
			    </div>
			    <div class="col-md-2">
			      	<div class="event-place-or-date">{{event.date}}</div>
			    </div>
			  </div>
			  <div class="separator"></div>
			  <div class="row">
					<div class="col-md-6">
			    	<img [src]="event.imgUrl" class="event-img">
			    </div>
			    <div class="col-md-6">
			    	<div class="event-description">
			      	<div class="row"><!--SPONSOR-->
		      			<div class="event-sponsor-or-cost"><b>Sponsored by : </b> {{event.sponsor}}</div>
		  				</div>
		  				<br><br>
		  				<div class="row"><!--COUT-->
		  					<div class="event-sponsor-or-cost">
		  						<div *ngIf="event.cost>0">
			      				<b>Coût : </b> {{event.cost}} € de participation.
			      			</div>
			    			</div>
		    			</div>
							<br><br>
							<div class="row"><!--DESCRIPTION-->
								<div innerHtml={{event.description}} style="text-align: justify;"></div>
							</div>
							<br><br>
							<div class="row"><!--LIENS-->
								<div class="col-md-2">
								</div>
								<div class="col-md-8"  style="display:flex; justify-content:center;">
									<button class="btn"><a href="#{{event.eventUrl}}">Page de l'évènement</a></button>&nbsp;&nbsp;
									<button class="btn"><a href="#{{event.contactUrl}}">Contact</a></button>
								</div>
								<div class="col-md-2">
								</div>
							</div>
						</div>
			  	</div>
		  	</div>
		  	<br>
		  	<div class="separator"></div>
		  	<div class="row"><!--TAGS-->
		  		<div class="col-md-12">
		  			<div class="event-tag">ICI APPARAITRONT LES TAGS DE L'EVENEMENT.</div>
	  			</div>
		  	</div>
	  	</div>
		</div>
		<div class="col-md-1"></div>
	</div>
</div>
