<div class="login-page">
  <div class="container">
    <section id="formHolder">

        <div class="row">

          <!-- Brand Box -->
          <div class="col-sm-6 brand">

              <div class="heading">
                <div class="col-xs-6 col-md-12">
                  <img class="ce-logo" src="assets/img/theme/logo/ce-wavestone.png">
                  </div>
                <div class="col-xs-6 col-md-12">
                  <img class="ce-logo" src="assets/img/theme/logo/ce-wavestone-advisors.png">
                  </div>
              </div>
          </div>


          <!-- Form Box -->
          <div class="col-sm-6 form">

              <!-- Login Form -->
              <div class="login form-piece">
                <form class="login-form" (ngSubmit)="loginSubmit()" #loginForm="ngForm" [hidden]="loginOrPassReset != 'login'">
                    <p class="form-title">Accès au site</p>
                    <div class="form-group">
                      <label for="loginemail">Adresse mail</label>
                      <input type="email" class="email" name="loginemail" id="loginemail" required [(ngModel)]="loginUser.email">
                      <span class="error"></span>                                            
                    </div>

                    <div class="form-group">
                      <label for="loginPassword">Mot de passe</label>
                      <input type="password" class="pass" name="loginPassword" id="loginPassword" required [(ngModel)]="loginUser.password">
                      <span class="error"></span>                                            
                    </div>

                    <div class="CTA">
                      <button type="submit" class="btn btn-info btn-with-icon" value="Login"><i class="ion-android-checkmark-circle"></i>Login</button>
                      <a class="switch" (click)="registerForm.reset(); loginForm.reset(); resetPasswordForm.reset()">Je suis nouveau</a>
                      <a class="switch-mdp" (click)="switchLoginForm()">Mot de passe oublié</a>
                    </div>
                    <div class="error-container"><p [ngClass]="messageType" *ngIf="messageTarget == 'login'">{{messageContent}}</p></div>
                </form>

                <form class="reset-password-form" (ngSubmit)="resetPasswordSubmit()" #resetPasswordForm="ngForm" [hidden]="loginOrPassReset != 'passReset'">
                    <p class="form-title">Réinitialiser mon mot de passe</p>

                    <div class="form-group" [hidden]="routingOrigin == 'reset'">
                      <label for="resetpassEmail">Adresse mail</label>
                      <input type="email" class="email" name="resetpassEmail" id="resetpassEmail" [required]="routingOrigin == 'reset' ? null : 'true'" [(ngModel)]="resetPasswordEmail">
                      <span class="error"></span>                                          
                    </div>

                    <div class="form-group" [hidden]="routingOrigin != 'reset'">
                      <label for="resetpassPassword">Mot de passe</label>
                      <input type="password" class="pass" name="resetpassPassword" id="resetpassPassword" [required]="routingOrigin == 'reset' ? 'true' : null" [(ngModel)]="resetPasswordPassword">
                      <span class="error"></span>                      
                    </div>

                    <div class="CTA">
                      <button type="submit" class="btn btn-warning btn-with-icon" value="ResetPassword"><i class="ion-android-checkmark-circle"></i>Réinitialiser</button>
                      <a class="switch-mdp" (click)="switchLoginForm(); registerForm.reset(); loginForm.reset();">Annuler</a>
                    </div>
                    <div class="error-container"><p [ngClass]="messageType" *ngIf="messageTarget == 'reset-password'">{{messageContent}}</p></div>
                </form>
              </div><!-- End Login Form -->


              <!-- Signup Form -->
              <div class="signup form-piece switched">
                <form class="signup-form" (ngSubmit)="registerSubmit()" #registerForm="ngForm">
                    <p class="form-title">Création de compte</p>
                    <div class="form-group">
                      <label for="name">Prénom</label>
                      <input type="text" name="username" id="name" class="name" [(ngModel)]="registerUser.firstName">
                      <span class="error"></span>
                    </div>

                    <div class="form-group">
                      <label for="name">Nom</label>
                      <input type="text" name="surname" id="surname" class="surname" [(ngModel)]="registerUser.lastName">
                      <span class="error"></span>
                    </div>

                    <div class="form-group">
                      <label for="email">Adresse mail</label>
                      <input type="email" name="emailAdress" id="email" class="email" [(ngModel)]="registerUser.email">
                      <span class="error"></span>
                    </div>

                    <div class="form-group select">
                      <select class="form-control" id="practice" name="practice" required [(ngModel)]="registerUser.practice">
                        <option *ngFor="let practice of practices" [value]="practice.name">{{practice.name}}</option>
                      </select>
                      <span class="error"></span>
                    </div>                  

                    <div class="form-group">
                      <label for="password">Mot de passe</label>
                      <input type="password" name="password" id="password" class="pass" [(ngModel)]="registerUser.password">
                      <span class="error"></span>
                    </div>

                    <div class="CTA">
                      <button type="submit" class="btn btn-info btn-with-icon" id="submit"><i class="ion-android-create"></i>Créer</button>
                      <a class="switch" (click)="registerForm.reset(); loginForm.reset(); resetPasswordForm.reset()">J'ai déjà un compte</a>
                    </div>
                    <div class="error-container"><p [ngClass]="messageType" *ngIf="messageTarget == 'register'">{{messageContent}}</p></div>
                </form>
              </div><!-- End Signup Form -->         
          </div>
        </div>

    </section>

  </div>
</div>