@import '../../sass/conf/conf';

.sidebar-buttons {
  padding-left: 18px;
  text-shadow: none;
  font-size: 16px;
  text-decoration: none;
  color: $sidebar-text;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer;
}

.sidebar-logout {
  color: $danger;
}